<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
  <table>
  
    <table class="table table-striped">
     
      <tbody>
        <tr>
          <% if( email != '') { %>
            
                <td>Email</td>
                <td><%= email %></td>
            
            <% } %>
        </tr>
        <tr>
          <% if( name != '') { %>
            <td>Name</td>
            <td> <%= name %></td>
            <% } %>
        </tr>
        <tr>
          <% if( age != null) { %>
            
              <td>Age</td> 
              <td> <%= age %></td>  
            <% } %>
        </tr>

        <tr>
          
          <% if( gender != '') { %>
            <td>Gender</td>
              <td><%= gender %></td>
            
            <% } %>
        </tr>
      </tbody>
    </table>
    <tr>
      
    </tr>
     
       
  
  </table>
      
          
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit/<%=email %> " role="button">Create/Update Profile</a>
  </div>
</div>

<%- include('partials/footer') %>
